{% extends '../base.html' %}{% block content %}
<div>
    <div class="max-w-7xl mx-auto">
        <header aria-label="Page Header" class="bg-white rounded-lg shadow-lg">
            <div
                class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8"
            >
                <div class="sm:flex sm:items-center sm:justify-between">
                    <div class="text-center sm:text-left">
                        <h1
                            class="text-2xl font-bold text-gray-900 sm:text-3xl"
                        >
                            About Us
                        </h1>

                        <p class="mt-1.5 text-sm text-gray-500">
                            Last updated: May 30, 2023
                        </p>
                    </div>
                </div>
            </div>
        </header>
        <article class="prose mt-8 m-4"></article>
    </div>
</div>
{% endblock %}
