{% extends './base.html' %} {% block email %}
<div
    id="__react-email-preview"
    style="
        display: none;
        overflow: hidden;
        line-height: 1px;
        opacity: 0;
        max-height: 0;
        max-width: 0;
    "
>
    View or print your prescription online.
    <div>
         ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿
    </div>
</div>
<p
    style="
        font-size: 14px;
        line-height: 24px;
        margin: 16px 0;
        color: rgb(0, 0, 0);
    "
>
    Your prescription from
    <strong>{{prescription.doctor}}</strong> is ready to be viewed online.
    Please click the button or scan the QR code below to view your prescription.
</p>
<table
    align="center"
    border="0"
    cellpadding="0"
    cellspacing="0"
    role="presentation"
    width="100%"
>
    <tbody>
        <tr>
            <td>
                <table
                    width="100%"
                    align="center"
                    role="presentation"
                    cellspacing="0"
                    cellpadding="0"
                    border="0"
                >
                    <tbody style="width: 100%">
                        <tr style="width: 100%">
                            <td align="center">
                                <img
                                    alt="qr-code"
                                    src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{url}}prescription?id={{prescription.id}}"
                                    width="120"
                                    height="120"
                                    style="
                                        display: block;
                                        outline: none;
                                        border: none;
                                        text-decoration: none;
                                    "
                                />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table
    align="center"
    border="0"
    cellpadding="0"
    cellspacing="0"
    role="presentation"
    width="100%"
    style="margin-bottom: 32px; margin-top: 32px; text-align: center"
>
    <tbody>
        <tr>
            <td>
                <a
                    href="{{url}}prescription?id={{prescription.id}}"
                    target="_blank"
                    style="
                        p-x: 20px;
                        p-y: 12px;
                        line-height: 100%;
                        text-decoration: none;
                        display: inline-block;
                        max-width: 100%;
                        padding: 12px 20px;
                        border-radius: 0.25rem;
                        background-color: rgb(0, 0, 0);
                        text-align: center;
                        font-size: 12px;
                        font-weight: 600;
                        color: rgb(255, 255, 255);
                        text-decoration-line: none;
                    "
                    ><span></span
                    ><span
                        style="
                            p-x: 20px;
                            p-y: 12px;
                            max-width: 100%;
                            display: inline-block;
                            line-height: 120%;
                            text-decoration: none;
                            text-transform: none;
                            mso-padding-alt: 0px;
                            mso-text-raise: 9px;
                        "
                        >View Prescription</span
                    ><span></span
                ></a>
            </td>
        </tr>
    </tbody>
</table>
<p
    style="
        font-size: 14px;
        line-height: 24px;
        margin: 16px 0;
        color: rgb(0, 0, 0);
    "
>
    or copy and paste this URL into your browser:
    <a
        target="_blank"
        style="
            color: rgb(37, 99, 235);
            text-decoration: none;
            text-decoration-line: none;
        "
        href="{{url}}prescription?id={{prescription.id}}"
        >{{url}}prescription?id={{prescription.id}}</a
    >
</p>
{% endblock %}
